body{
  font-family: 'Varela', sans-serif;
}
.classIcon{
  height: 100px;
  width: 100px;
  background-color: #195f77;
  border-radius: 5px;
}

.classText{
  padding-top: 13px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.classNum{
  color: white;
  font-size: 20px;
  text-align: center;
}

/*Don't think we can filter classes by this type */
/*.VLPA{

}

.NW{

}

.IS{

}*/

.majorReq{

}
