body{
  font-family: 'Karla', sans-serif;
  background-color: #00FF94;
}

h1{
  text-align: center;
}

.classIcon{
  width: 150px;
  height: 200px;
  position: relative;
  display: inline-block;
  background-image: url(../img/150x200.svg);
}

.classDept{
  padding-top: 13px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.classNum{
  color: white;
  font-size: 20px;
  text-align: center;
}

.classTitle {

}

.classCredits {

}

.yearRow{
}
