body{
  font-family: 'Varela', sans-serif;
}

h1{
  text-align: center;
}
.classIcon{
  margin-top: 5px;
  height: 100px;
  width: 100px;
  background-color: #195f77;
  border-radius: 5px;
  position: relative;
  padding-top: 5px;
  display: inline-block;
}

.classText{
  padding-top: 13px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.classNum{
  color: white;
  font-size: 20px;
  text-align: center;
}

.yearRow{
}
