<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Archivo+Black|Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<script src="js/classes.json" type = "text/javascript"></script>
<script src="js/year1.json" type = "text/javascript"></script>
<script src="js/year2.json" type = "text/javascript"></script>
<script src="js/year3.json" type = "text/javascript"></script>
<script src="js/year4.json" type = "text/javascript"></script>
<script src="js/classOfferings.json" type = "text/javascript"></script>
<script src="js/electives.json" type = "text/javascript"></script>
<script src="js/controller.js"></script>
<script src="php/current-user.php" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/index.css">
  <title>Visual DARS</title>
</head>

<body>

<div ng-app="myApp" ng-controller="myCtrl">

  <div class="topContent">
    <div class="titleBar">
      <p class="titleBarTitle"> UW Curriculum Planner</p>
      <p class="titleBarDegree">Informatics: IA Concentration</p>
    </div>
    <div class="statusBar">
      <div class="infoProgress">
        <p class="titleBarTitle infoProgressTitle">Total Credit</p>
        <p class="titleBarDegree infoProgressNum" >{{credits}}/180</p> <!-- placeholder -->
        <!-- x/x - core credits -->
      </div>
      <div class="iaProgress">
        <p class="titleBarTitle infoProgressTitle">Elective Credits</p>
        <p class="titleBarDegree infoProgressNum" >{{electivesCredits}}/75</p> <!-- placeholder -->
        <!-- x/x - IA specialization credits -->
      </div>
      <div class="prereqAlert"> <!-- placeholder, hide when not needed -->
        <p class="titleBarTitle infoProgressTitle" ng-show="errMessage">Warning</p>
        <p class="titleBarTitle infoProgressNum prereqProgressClass" ng-show="errMessage">{{errMessage}}</p> <!-- placeholder -->
        <!-- alert: prereqs not completed -->
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">  <!-- ng-repeat on years -->
      <div class="col-sm-12">
        <div class="row">

          <div class="col-sm-12 col-md-8 col-md-offset-2">

            <h1>Year 1</h1>
            <div class='classIcon' ng-repeat="class in yearOne" ng-click="markCompleted(class.fullName)"> <!-- ng-repeat on classes in a year -->
              <p class="classDept">
                {{class.dept}}
              </p>
              <p class="classNum">
                {{class.num}}
              </p>
              <hr />
              <p class="classTitle">
                {{class.title}}
              </p>
              <p class="classCredits">
                {{class.credits}} CR
              </p>
            </div>

            <div>{{credits}}</div>
            <div>{{classesTaken}}</div>

        </div>

      </div>
    </div>

  </div> <!-- end of yearRow -->

  <div class="row">  <!-- ng-repeat on years -->
    <div class="col-sm-12">
      <div class="row">

        <div class="col-sm-12 col-md-8 col-md-offset-2">

          <h1>Year 2</h1>
          <div class='classIcon' ng-repeat="class in yearTwo" ng-click="markCompleted(class.fullName)"> <!-- ng-repeat on classes in a year -->
            <p class="classDept">
              {{class.dept}}
            </p>
            <p class="classNum">
              {{class.num}}
            </p>
            <hr />
            <p class="classTitle">
              {{class.title}}
            </p>
            <p class="classCredits">
              {{class.credits}} CR
            </p>
          </div>

          <div>{{credits}}</div>
          <div>{{classesTaken}}</div>

      </div>

    </div>
  </div>

</div> <!-- end of yearRow -->

<div class="row">  <!-- ng-repeat on years -->
  <div class="col-sm-12">
    <div class="row">

      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h1>Year 3</h1>
        <div class='classIcon' ng-repeat="class in yearThree" ng-click="markCompleted(class.fullName)"> <!-- ng-repeat on classes in a year -->
          <p class="classDept">
            {{class.dept}}
          </p>
          <p class="classNum">
            {{class.num}}
          </p>
          <hr />
          <p class="classTitle">
            {{class.title}}
          </p>
          <p class="classCredits">
            {{class.credits}} CR
          </p>
        </div>

        <div>{{credits}}</div>
        <div>{{classesTaken}}</div>

    </div>

  </div>
</div>

</div> <!-- end of yearRow -->

<div class="row">  <!-- ng-repeat on years -->
  <div class="col-sm-12">
    <div class="row">

      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h1>Year 4</h1>
        <div class='classIcon' ng-repeat="class in yearFour" ng-click="markCompleted(class.fullName)"> <!-- ng-repeat on classes in a year -->
          <p class="classDept">
            {{class.dept}}
          </p>
          <p class="classNum">
            {{class.num}}
          </p>
          <hr />
          <p class="classTitle">
            {{class.title}}
          </p>
          <p class="classCredits">
            {{class.credits}} CR
          </p>
        </div>

        <div>{{credits}}</div>
        <div>{{classesTaken}}</div>

    </div>

  </div>
</div>

</div> <!-- end of yearRow -->

<div class="row">  <!-- ng-repeat on years -->
  <div class="col-sm-12">
    <div class="row">

      <div class="col-sm-12 col-md-8 col-md-offset-2">

        <h1>Electives</h1>
        <div class='classIcon' ng-repeat="class in elective" ng-click="markCompleted(class.fullName)"> <!-- ng-repeat on classes in a year -->
          <p class="classDept">
            {{class.dept}}
          </p>
          <p class="classNum">
            {{class.num}}
          </p>
          <hr />
          <p class="classTitle">
            {{class.title}}
          </p>
          <p class="classCredits">
            {{class.credits}} CR
          </p>
        </div>

        <div>{{credits}}</div>
        <div>{{classesTaken}}</div>

    </div>

  </div>
</div>

</div> <!-- end of yearRow -->


</div>
</div>

</body>

</html>
